* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#columndiv {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    height: 100%;
    /* Enable horizontal scrolling if needed */
    margin-bottom: 120px;
}

.column {
    border: 1px solid #ddd;
    overflow: auto;
    padding: 10px 0;
    min-width: 150px;
    height: 100%;
    /* max-height: auto; */
    /* Set a maximum height for vertical scrolling */
    box-sizing: border-box;
}

.column label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column li {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    height: 40px;
    width: 80px;
    background-color: #008CBA;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
}
header {
    background-color: #3489DB;
    color: white;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -2px;
    position: sticky;
    top:0;
}

header h2 {
    margin: 0;
}
header #editbtn{
    background-color: #ffffff;    
    padding: 7px 10px;
    border-radius: 7px;
    border: white;
    color: #008CBA;
    border: 2px solid #3489DB;
}
.footer {
    background-color: rgb(242, 242, 242,0.9);
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer button {
    background-color: #3489DB;
    padding: 10px;
    border-radius: 7px;
    color: white;
    border: none;
    cursor: pointer;
}
footer #pricediv{
    /* background-color: #008CBA; */
    display: flex;
    flex-direction: column;
    margin: 5px;
}
footer #pricediv div{
    /* background-color: #008CBA; */
    display: flex;
    /* flex-direction: column; */
}
footer label {
    font-size: 16px;
    /* background-color: red; */
    padding: 3px;
    width: 140px;
    text-align: left;
}
footer input{
    font-size: 16px;
    width: 60px;
    border: none;
    outline: none;
    background-color: transparent;
}
#filterbtn{
    background-color: #3489DB;
    display: flex;
    justify-content: space-around;
    /* padding: 3px; */
    position: sticky;
    top: 62.2px;
}
#filterbtn button{
    background-color: #3489DB;
    border: none;
    color: white;
    padding: 5px 10px;
}

#column7{
    display: none;
}
